<br>
<div class="d-flex  justify-content-around ">
    <div class="card col-5 mx-4"  >
        <div class="card-header">
            <h5 class="mx-4">
                Work Experience
            </h5>
        </div>
        <div class=" container-fluid">
      
            <ul class="list-group list-group-flush mx-4">
            <li class="my-2">
                <h5>UP Power Corporation Ltd.</h5> 
                <div><strong>Role</strong> : Assistant Engineer</div>
                <div><strong>April 19 - Till date</strong></div>
                
                <div>Administration, maintenance and development of commercial parameters and billing portal.
                    Development of portal for internal target and evaluation with scalable granularity till substation.
                </div>
            </li>
            <li class="my-2">
                <h5>Infosys Ltd.</h5> 
                <div><strong>Role</strong> : Systems Engineer</div>
                <div><strong>October 17 - March 19</strong></div>
                
                <div>Developed, maintained and tested web based software solution for insurance domain client.
                </div>
            </li>
         </ul>
        </div>
    </div>
    
    <div class="card col-5 mx-4"  >
        <div class="card-header">
            <h5 class="mx-4">
                Key Projects
            </h5>
        </div>
        <div class="container-fluid">
            
            <ul class="list-group list-group-flush mx-4">
            <li class="my-2">
                <div><strong>Domain</strong> : Data Analytics </div>
                <div><strong>Technologies</strong> : Python, NumPy, Pandas, Tkinter</div>
                i. Tool for tracing forged bill. Trached <strong>20%</strong> inaccuracy resulting in accurate billing and increased consumer turn-up.
            </li>
            <li class="my-2">
                <div><strong>Domain</strong> : Web application </div>
                <div><strong>Technologies</strong> : Angular, Sql Server, bootstrap</div>
                i. Tool for insurance domain client to track and manage internal workfolow. App was built using BIZCOVE services provided by client.
            </li>
            <li class="my-2">
                <div><strong>Graduation Project</strong> : Ball E</div>
                <div><strong>Technologies</strong> : C#, Blender, Unity Enginer</div>
                Cross Platform 3D game utilizing Unity engine that worked on Android and windows both
            </li>
            
         </ul>
        </div>
    </div>
    
</div>
<div class="d-flex justify-content-around my-4">
    <div class="card col-11 ">
        <div class="card-header">
            <h5 class="mx-4">
                Achievements
            </h5>
        </div>
        <div class="card-body">
            <li class="mx-4">Achieved <strong>high performer</strong> rating upon completion of training at Infosys Ltd Mysore</li>
            <li class="mx-4">Got selected in UPPCL PSU with all India vacancy of 30</li>
            <li class="mx-4">Acheived first positition in AKTU district and Zonal level coding competitions</li>
        </div>
        </div>
</div>


