<br>
<div class="card">
    <div class="card-header">
        <h5 class="mx-4">
            Contact Info
        </h5>
    </div>
    <div class=" d-flex justify-content-around">
  <div class="col-5">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex">
        <h6 class="col-4">Name :</h6>
        <div class="col-8">{{user.Name}}</div>
      </li>
      <li class="list-group-item d-flex">
        <h6 class="col-4">Email :</h6>
        <div class="col-8">{{user.Email}}</div>
      </li>
      <li class="list-group-item d-flex">
        <h6 class="col-4">DOB :</h6>
        <div class="col-8">{{user.DOB}}</div>
      </li>
      <li class="list-group-item d-flex">
        <h6 class="col-4">Languages :</h6>
        <div class="col-8">{{user.Languages}}</div>
      </li>
      
    </ul>
  </div>
  <div class="col-5">
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex">
        <h6 class="col-4">Address :</h6>
        <div class="col-8">{{user.Address}}</div>
      </li>
      <li class="list-group-item d-flex">
        <h6 class="col-4">Mobile No :</h6>
        <div class="col-8">{{user.MobileNo}}</div>
      </li>
      <li class="list-group-item d-flex">
        <h6 class="col-4">LinkedIn :</h6>
        <div class="col-8">{{user.Linkedin}}</div>
      </li>
      <li class="list-group-item d-flex">
        <h6 class="col-4">Codechef:</h6>
        <div class="col-8">{{user.CodeChef}}</div>
      </li>
    </ul>
  </div>
</div>
<a type="button" class="btn btn-light" href="../../assets/rohan_CV_jun_1.jpg">
    Download Resume
  </a>
</div>



