<br>
<div class="d-flex  justify-content-around ">
    <div class="card col-5 mx-4"  >
        <div class="card-header">
            <h5 class="mx-4">
                Key Skills
            </h5>
        </div>
        <div class=" container-fluid">
      
            <ul class="list-group list-group-flush mx-4">
            <li class="my-2">
                <h6>Coding:</h6> 
                4* on codechef, regular participant on HackerEarth, leetcode coding events.
            </li>
            <li class="my-2">
                <h6>Web development:</h6> 
                Designed, developed and tested full stack angular app for an insurance domain client.
            </li>
            <li class="my-2">
                <h6>Data Analytics:</h6> 
                Developed automated tools for tracing forged bills, did tagging of 43 lakhs rural consumers
                with their DTs.
            </li>
            <li class="my-2">
                <h6>Interface desing:</h6> 
                Using bootstrap, angular, CSS and other front end technologies
            </li>
            <li class="my-2">
                <h6>Team management:</h6> 
                Working as Nodal officer of NonRAPDRP (rural) billing software of UPPCL, managing a teams of consulting agencies s/a Fluentgrid, Quess Corp and Marcados Ltd
            </li>
         </ul>
        </div>
    </div>
    
    <div class="card col-5 mx-4"  >
        <div class="card-header">
            <h5 class="mx-4">
                Technical Skills
            </h5>
        </div>
        <div class="container-fluid">
      
            <ul class="list-group list-group-flush mx-4">
            <li class="my-2">
                <h6>Programming Languages:</h6> 
                Python, Java, C, JavaScript, TypeScript, 
            </li>
            <li class="my-2">
                <h6>Web Technologies:</h6> 
                Angular, CSS, HTML5, Bootstrap
            </li>
            <li class="my-2">
                <h6>Data Management:</h6> 
                SQL Server, Oracle DB, MySQL, Firebase
            </li>
            <li class="my-2">
                <h6>Data Analysis desing:</h6> 
                Numpy, Pandas, MatplotLib, MS
            </li>
            
         </ul>
        </div>
    </div>
</div>
