<div class="d-flex justify-content-around my-4">
    <div class="card col-11 ">
        <div class="card-header">
            <h5 class="mx-4">
                Recommendations
            </h5>
        </div>
        <div class="card-body d-flex justify-content-around ">
            <div class="card col-4 mx-4">
                <h5 class="card-header">UPPCL LTD</h5>
                <div class="card-body">
                  <h5 class="card-title">Mr. ABC Sing</h5>
                  <p class="card-text text-muted">Executive Engineer</p>
                  <p class="card-text">Rohan has been amazing in his stint at UPPCL he has single handedly handled NON RAPDRP Operations of UPPCL</p>
                </div>
              </div>
              <div class="card col-4 mx-4">
                <h5 class="card-header">Infosys LTD</h5>
                <div class="card-body">
                  <h5 class="card-title">Mr. DEF Abraham</h5>
                  <p class="card-text text-muted">Project Manager</p>
                  <p class="card-text">Rohan has been amazing in his stint at Infosys. He has did deliver great value to clients and did amazing job at delivering high quality service all the time.</p>
                </div>
              </div>
              
        </div>
    </div>
</div>
